/* Global */
* {
    font-family: 'Playfair Display', serif;
}

/* Poem Head */
.poem-head h2 {
        font-size: 32px;
        font-weight: 700;
}

.poem-head p {
    font-style: italic;
}

/* Poem Body */



/* Footer */
.footer p {
    font-size: 12px;
    font-style: italic;
}